.videoGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensures the videos are spaced evenly */
  }
  
  .videoItem {
    width: 48%; /* 48% width to fit 2 videos per row with some space in between */
    margin-bottom: 20px;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
 