/* video {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: block;
}

.videoUsername {
    font-family: cursive;
}

.video-title {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
    margin-bottom: 0px;
}

.videoContainer {
    display: grid;
    outline: 2.3px solid #76d4b5;
    background-color: #fff;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 0;
    margin-bottom: 2.5rem; 
} */

video {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

.videoUsername {
    font-family: cursive;
}

.video-title {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
    margin-bottom: 0px;
}

.videoContainer {
    display: grid;
    outline: 2.3px solid #76d4b5;
    background-color: #fff;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 0;
    margin-bottom: 2.5rem; 
}